---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Dave"
	description="Dave Riordan short biography"
	pubDate={new Date('Feb 06 2024')}
>
<p>Hi there; I'm Dave Riordan. I've had the privilege of spending most of my career between the public interest space and in a couple of tech companies. I've gotten to help public-interest institutions and community-driven movements be more effective while remaining true to their values with a product, experience, and data focus. I've also supported technology-focused organizations incorporating community-driven approaches into their product strategies and operations.</p>

<p>I've built community-focused technical products at <a href="https://github.com/spotify/klio">Spotify</a> and <a href="https://github.com/pelias/pelias">Mapzen</a>, helped start the <a href="https://www.youtube.com/watch?v=dFVkJb_BdWE">New York Public Library's R&D group</a>, worked to <a href="https://medium.com/@riordan/leaving-the-institute-32468d688a78">train journalists to work with data</a> to tell incredible stories and helped newspapers use data to keep their products relevant. I've served as the VP of Data and Insights at the Philadelphia Inquirer building data tools and data engineering/science teams, oversaw data science tools at Spotify, and helped public libraries begin to break a monopoly on e-books.</p>

<p>
I'm often off cycling or hiking. I enjoy climbing and local civic advocacy, despite being not very good at either. I live with my family in north Brooklyn, New York.
</p>

<p><i>If you want my <a href="/david-riordan-cv.pdf">cv</a>.</i></p>

</Layout>
